/*body{
	height: 100%;
}*/
/*@mixin bottom-footer($footerHeight){*/
@mixin bottom-footer{
	clear: both;
    position: relative;
    z-index: 10;
    /*height: $footerHeight;*/
    /*margin-top: -$footerHeight;*/
}